name: CI
on:
  push:
    branches: ["main"]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Run tests
        run: nix flake check

  # NOTE:Only here for syncing the tag if people choose to use it, but it's prefered to use branch main
  sync-release-tag:
    runs-on: ubuntu-latest
    if: github.repository == 'DigitalBrewStudios/Team-Members'
    needs: test
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Force push main to branch tag
        run: |
          git config user.name  "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag -f release "${GITHUB_SHA}"
          git push origin -f release

  sync-release-items:
    if: github.repository == 'DigitalBrewStudios/Team-Members'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: Generate members.json and teams.json files
        run: |
          nix eval .#lib.digitalBrewStudios.members --json > members.json
          nix eval .#lib.digitalBrewStudios.teams --json > teams.json

      - name: Upload assets to existing release tag
        uses: softprops/action-gh-release@v2
        with:
          tag_name: release
          body: |
            INTERNAL USAGE ONLY!!! THIS IS AUTOMATICALLY GENERATED RELEASE BASED ON https://github.com/DigitalBrewStudios/Team-members/tree/main. 
            THESE FILES ARE GENERATED FOR TOOLS THAT ARE NOT DEPENDENT ON NIX. 
            PLEASE DON'T USE THESE FILES OR THE TAG TO POINT TO RELEASES UNLESS YOUR USING A TOOL THAT WOULD BE HARD TO HOOK UP TO NIX LIKE A WEBISTE.
          files: |
            members.json
            teams.json
          overwrite_files: true
